* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 90rem;
  margin: 0 auto;
  background: linear-gradient(140deg, #89D2DC, #6564DB);
  background-attachment: fixed;
}

ul, li {
  list-style-type: none;
  display: grid;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-nav {
  display: flex;
  gap: 1rem;
}
